<!DOCTYPE html>
<html>
<head>
	<title>NodeJS + Redis + Websockets chat</title>
	<!-- Latest compiled and minified CSS -->
	<link href="//devcenter.heroku.com/d2f2p26ywennn8.cloudfront.net/assets/favicon-82f8669f6323129704e02b6db377deaa68f30823915273d895c95d323692fc91.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style type="text/css">
		#messages {
			min-height: 250px;
			max-height: 500px;
			overflow-y: scroll;
		}
	</style>
</head>
<body>
<div class="container">
<div class="row">	
	<div class="col-md-8 col-md-offset-2 col-sm-12">
		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12" id="messages">
							{% for message in messages %}
								{% set message_object = message|json_decode %}
								<p><span class="label label-default">{{ message_object.username }} ({{ message_object.time }}):</span> {{ message_object.message }}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<form action="." method="POST" class="form-inline">
				<div class="form-group">
					<input type="text" name="username" class="form-control" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="text" name="message" class="form-control" placeholder="Message">
				</div>
				<input type="submit" value="Send" class="btn btn-default">
			</form>
		</div>
	</div>		
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript">
	var host = location.origin.replace(/^http/, 'ws'),
	    socket = new WebSocket(host);
	socket.onopen = function() {
  		console.log("Соединение установлено.");
	};
	socket.onmessage = function(event) {
  		console.log("Получены данные " + event.data);
  		var message = jQuery.parseJSON(event.data);
  		$("#messages").prepend('<p><span class="label label-default">' + message.username + ' (' + message.time + '):</span> ' + message.message + '</p>');
	};
	socket.onerror = function(error) {
  		console.error("Ошибка " + error.message);
	};
	socket.onclose = function(event) {
		if (event.wasClean) {
			console.log('Соединение закрыто чисто');
		} else {
			console.error('Обрыв соединения');
		}
		console.log('Код: ' + event.code + ' причина: ' + event.reason);
	};
	$("form").on("submit", function(e) {
		e.preventDefault();

		var username = $("input[name='username']").val(),
			message = $("input[name='message']").val(),
			currentdate = new Date(); 

		if (username.length && message.length) {
			var json_data = {
				"username": username, 
				"message": message, 
				"time": currentdate.getHours() + ":"  + currentdate.getMinutes()
			};

			socket.send(JSON.stringify(json_data));

			$("input[name='username']").attr('readonly', true);
			$("input[name='message']").val("");

		} else {
			alert('Заполните все инпуты!');
		}
		
	});
</script>
</body>
</html>